.Rproj.user
.Rhistory
*.RData
.gitignore
*.c*
*.d*
*.g*
*.j*
*.p*
*.Rproj
*.t*
*.x*
*.z*
# use Tools Shell to remove file from repository
# git update-index --assume-unchanged <file>
.Rbuildignore
EchoNet2Fish.Rproj
inst/doc
